.complain{
    flex: 5;
    width: 100%;
    
    padding: 0px 20px;
}

.complainList{
    padding: 20px 20px;
}

.compDelete{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #b03d3b;
    color: white;
    cursor: pointer;
}